force-app/main/default/flows/OncoGlobal_CreateFollowUpTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>set_success_message</name>
        <label>Set Success Message</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>confirmationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>successMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_error_message</name>
        <label>Set Error Message</label>
        <locationX>50</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>confirmationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to create task. Please try again. ❌</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Creates a Salesforce Task linked to a Visit Log and the running sales rep. Returns the Task Id.</description>
    <environments>Default</environments>
    <formulas>
        <name>resolvedSalesRepId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!salesRepId}), {!$User.Id}, {!salesRepId})</expression>
    </formulas>
    <formulas>
        <name>activityDateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!dueDate})</expression>
    </formulas>
    <formulas>
        <name>successMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Task created ✅ — &quot; &amp; {!taskSubject}</expression>
    </formulas>
    <interviewLabel>OncoGlobal Create Follow Up Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OncoGlobal Create Follow Up Task</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_task</name>
        <label>Create Task</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>taskId</assignRecordIdToReference>
        <connector>
            <targetReference>set_success_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>set_error_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>activityDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>resolvedSalesRepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>relatedVisitLogId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>confirmationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedClinicId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedPhysicianId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedVisitLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesRepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
