force-app/main/default/flows/OncoGlobal_CreateVisitLogRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>set_success_message</name>
        <label>Set Success Message</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>confirmationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visit logged ✅</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_error_message</name>
        <label>Set Error Message</label>
        <locationX>50</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>confirmationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to save visit log. Please try again. ❌</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Creates a Visit_Log__c record from agent inputs and returns the new Id and a confirmation message.</description>
    <environments>Default</environments>
    <formulas>
        <name>resolvedSalesRepId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!salesRepId}), {!$User.Id}, {!salesRepId})</expression>
    </formulas>
    <interviewLabel>OncoGlobal Create Visit Log {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OncoGlobal Create Visit Log Record</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_visit_log</name>
        <label>Create Visit Log</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>visitLogId</assignRecordIdToReference>
        <connector>
            <targetReference>set_success_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>set_error_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Channel__c</field>
            <value>
                <elementReference>channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinic__c</field>
            <value>
                <elementReference>clinicId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Actions__c</field>
            <value>
                <elementReference>followUpActions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physician_Sentiment__c</field>
            <value>
                <elementReference>physicianSentiment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physician__c</field>
            <value>
                <elementReference>physicianId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raw_Notes__c</field>
            <value>
                <elementReference>rawNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Interest__c</field>
            <value>
                <elementReference>referralInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Materials__c</field>
            <value>
                <elementReference>requestedMaterials</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
            <value>
                <elementReference>resolvedSalesRepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialties_Discussed__c</field>
            <value>
                <elementReference>specialtiesDiscussed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topics_Discussed__c</field>
            <value>
                <elementReference>topicsDiscussed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Date__c</field>
            <value>
                <elementReference>visitDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Summary__c</field>
            <value>
                <elementReference>visitSummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Type__c</field>
            <value>
                <elementReference>visitType</elementReference>
            </value>
        </inputAssignments>
        <object>Visit_Log__c</object>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_visit_log</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clinicId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>followUpActions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>physicianId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>physicianSentiment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rawNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralInterest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestedMaterials</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesRepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>specialtiesDiscussed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>topicsDiscussed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>visitSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
