force-app/main/default/flows/OncoGlobal_LogExpenseRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>set_success_message</name>
        <label>Set Success Message</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>confirmationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>successMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_error_message</name>
        <label>Set Error Message</label>
        <locationX>50</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>confirmationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to log expense. Please try again. ❌</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Creates an Expense__c record from agent inputs and returns the new Id with a short confirmation.</description>
    <environments>Default</environments>
    <formulas>
        <name>resolvedSalesRepId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!salesRepId}), {!$User.Id}, {!salesRepId})</expression>
    </formulas>
    <formulas>
        <name>successMessage</name>
        <dataType>String</dataType>
        <expression>&quot;₹&quot; &amp; TEXT({!amount}) &amp; &quot; &quot; &amp; {!category} &amp; &quot; logged ✅&quot;</expression>
    </formulas>
    <interviewLabel>OncoGlobal Log Expense {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OncoGlobal Log Expense Record</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_expense</name>
        <label>Create Expense</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>expenseId</assignRecordIdToReference>
        <connector>
            <targetReference>set_success_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>set_error_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expense_Date__c</field>
            <value>
                <elementReference>expenseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Merchant__c</field>
            <value>
                <elementReference>merchant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OCR_Confidence__c</field>
            <value>
                <elementReference>ocrConfidence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
            <value>
                <elementReference>resolvedSalesRepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Log__c</field>
            <value>
                <elementReference>relatedVisitLogId</elementReference>
            </value>
        </inputAssignments>
        <object>Expense__c</object>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_expense</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expenseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>merchant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ocrConfidence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedVisitLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salesRepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
